div.flexMainContainer .flexHeaderContainer {
    display: flex;
}

div.flexMain {
    flex: 1;
}

div#mainContainer {
    flex: 3;
    margin: 10px 0;
}

div.flexHeaderContainer {
    background: lightskyblue;
    border-radius: 10px;
    display: flex;
}

div.clientContainerHeader {
    flex: 2;
    margin: 5px 0;
    display: inline-block;
    font-family: 'Verdana, Geneva, Tahoma, sans-serif';
    font-size: 25px;
    font-weight: bolder;
    text-align: center;
}

div.flexHeader {
    flex: 1;
    display: inline-block;
}

div.classClientId, .classClientSubNetwork {
    font-family: 'Verdana, Geneva, Tahoma, sans-serif';
    font-size: 20px;
}

div.classClientContainer {
    border-radius: 10px;
    display:flex;
    align-items: flex-end;
    margin:4px 0;
}