@model List<Client>
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<script src="http://code.jquery.com/jquery-1.7.js"></script>*@

<script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="~/js/clientService.js"></script>
<script src="~/js/main.js"></script>
<h1 style="text-align: center">IPv4-подсети клиентов Холдинга</h1>
<hr/>

@*модальное окно для уведомлений*@
<div id="deleteModalBox" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Заголовок модального окна -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Удаление записи о клиенте</h4>
            </div>
            <!-- Основное содержимое модального окна -->
            <div class="modal-body">
                Вы уверены, что хотите удалить запись? После удаления восстановить запись будет невозможно.
            </div>
            <!-- Футер модального окна -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                <button type="button" class="btn btn-danger" id="deleteButtonModalBox">Удалить</button>
            </div>
        </div>
    </div>
</div>

<div id="incorrectDataModalBox" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Заголовок модального окна -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Некорректные данные!</h4>
            </div>
            <!-- Основное содержимое модального окна -->
            <div class="modal-body">
                Введенные данные некорректны!
                Значение полей должно быть непустой строкой.
                Идентификатор должен быть уникален.
                Количество символов для идентификатора не должно превышать 255.
                Подсеть клиента должна соответствовать точечно-десятичной нотации
                и иметь маску подсети. Например, 123.123.123.123/30
            </div>
        </div>
    </div>
</div>

    <div class="flexMainContainer">
        <div class="flexMain"></div>
        <div id="mainContainer">
            <div id="clientsContainer">
                @{
                    var numberElement = 1;
                    var backgroundClientContainer = "";
                }
                @foreach (var client in Model)
                {

                    @if (numberElement == 1)
                    {
                        <div class="flexHeaderContainer">
                            <div class="clientContainerHeader"> Идентификатор </div>
                            <div class="clientContainerHeader"> IPv4 - подсеть </div>
                            <div class="flexHeader"></div>
                        </div>
                    }
                    @if (numberElement % 2 == 0)
                    {
                        backgroundClientContainer = "background:lightgrey;";
                    }
                    else
                    {
                        backgroundClientContainer = "background:white;";
                    }
                    <div class="classClientContainer" style="@("" + backgroundClientContainer)" id=@(numberElement + "_Container")>
                        <div id=@(numberElement + "_clientIdDiv") class="classClientId" style="flex: 2;text-align: center;">@client.Id</div>
                        <div id=@(numberElement + "_clientNetworkDiv") class="classClientSubNetwork" style="flex: 2;text-align: center;">@client.SubNetwork</div>
                        <div class="flexClientButtonGroup" style="flex: 1;">
                            <div style="margin:2px 0;">
                                <input type="button" value="X" id=@(numberElement + "_removeClientButton") class="btn btn-danger btn-sm" />
                            </div>
                            <div style="margin:2px 0;">
                                <input type="button" value="Редактировать" id=@(numberElement + "_editClientButton") class="btn btn-primary btn-sm" />
                            </div>
                        </div>
                    </div>
                    <script>

                    //навешиваем событие на кнопку удаления
                    bindClickHandlerToButton(onRemoveClientButtonClick, @numberElement + "_removeClientButton", @numberElement);
                    //навешиваем событие на кнопку редактирования
                    bindClickHandlerToButton(displayAddFormForEditing, @numberElement + "_editClientButton", @numberElement);
                    </script>
                    numberElement++;
                }
            </div>
            <input type="button" id="addNewClientInput" class="btn btn-primary" value="Добавить нового клиента" onclick="displayAddFormForAddition()" />
            <div id="addClientForm" style="display: none">
                <div>
                    <label for="inputNewClientId">Введите идентификатор клиента</label>
                    <input type="text" id="inputNewClientId" class="form-control" aria-describedby="idHelp" placeholder="Введите идентификатор" />
                    <small id="idHelp" class="form-text text-muted">Должен быть уникальным и не более 255 символов</small>
                </div>
                <div>
                    <label for="inputNewClientNetwork">Введите подсеть клиента</label>
                    <input type="text" id="inputNewClientNetwork" class="form-control" placeholder="например, 46.48.11.244/30" />
                </div>
                <div>
                    <input id="completeInput" type="button" value="Готово" class="btn btn-success" />
                    <input id="canselInput" type="button" value="Отмена" onclick="canselAddingClient()" class="btn btn-danger" />
                </div>
                <div id="message"></div>
            </div>
        </div>
        <div class="flexMain"></div>
    </div>
