body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 10px;
    background: lightgreen;
}

div.flexMainContainer {
    display: flex;
    /* background: lightblue; */
}

div#mainContainer {
    flex: 3;
    margin: 10px 0;
}

div.flexMain {
    flex: 1;
    /* background: pink; */
}

div.labelAddedNoteForm {
    flex: 1;
    min-width: 140px;
}

div.addNoteFlex {
    display: flex;
    margin: 5px 0;
}

div.addNoteInputFlex {
    flex: 5;
}

button.removeNoteButton {
    flex: 1;
    background: rgb(206, 16, 16);
    border: 0;
    border-radius: 10px;
}

div.titleNote {
    flex: 10;
    text-align: center;
    padding: 1%;
    background-color: lightgray;
    font-weight: bold;
    font-size: larger;
    border-radius: 10px;
}

div.contentNoteClass {
    border: 3px dashed green;
    margin: 10px 0;
}

input {
    text-align: center;
    font-size: 13px;
    padding: 6px 0 4px 10px;
    border: 1px solid #cecece;
    background: #F6F6f6;
    border-radius: 8px;
    min-width: 80px;
}

button {
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 8px;
    background: rgb(64, 199, 129);
    box-shadow: 0 -3px rgb(53, 167, 110) inset;
    transition: 0.2s;
}

button:hover {
    background: rgb(53, 167, 110);
}

button:active {
    background: rgb(33, 147, 90);
    box-shadow: 0 3px rgb(33, 147, 90) inset;
}